---
import Layout from "../layouts/Layout.astro";
import TypingText from "../components/TypingText.astro";
---

<Layout>
	<section class="hero-block">
	<TypingText class="hero-title" keepWords={2} keepPrefix={3}>
  		Hi, I'm Victoria
	</TypingText>
	<p class="hero-subtitle">UCalgary Computer Science • Software Dev</p>

	</section>
	
	<!-- About Me Section -->
  <section class="about">
    <p>
      I’m a Computer Science student at the University of Calgary with a passion 
      for software development, competitive programming, and IT solutions. 
      As President of the Competitive Programming Club, I lead events that help 
      students strengthen their algorithm and problem-solving skills.  
      I’ve also worked in IT support, teaching, and web development, and I’m 
      always looking for new challenges that push me to learn and grow.
    </p>
  </section>

  
</Layout>
